body{
  margin: 4rem 0;
  background-color: hsl(212, 45%, 89%);
}
.card{
  border-radius: 5%;
  text-align: center;
}
.card-img-top{
  margin: 1rem 0;
  padding: 0 0.5rem;
  border-radius: 10%;
}
.attribution{
  text-align: center;
  margin-top: 2rem;
}
